strict-ssl=false
progress=false
loglevel=silent
always-auth=false
git-tag-version=false
username=smallela
email=smallela.projworks@gmail.com
init-author-name=Sridhar Mallela
init-license=UNLICENSED
init-version=0.0.1
color=always
package-lock=false
maxsockets=250
editor=code --wait
