strict-ssl=false
progress=false
color=always
loglevel=silent
git-tag-version=false
init-license=UNLICENSED
init-version=0.0.1
package-lock=false
always-auth=false
username=smallela
email=smallela.projworks@gmail.com
maxsockets=250
