[alias]
	lg = log --color --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
[apply]
	whitespace = fix
[credential]
	helper = osxkeychain
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	compression = 9
	editor = brackets --wait
	excludesfile = ~/.gitignore_global
	fileMode = true
	pager = less -FRSX
	trustctime = false
	untrackedcache = true
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	pager = true
	status = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = red
[diff]
	mnemonicprefix = true
	renames = copies
	tool = meld
[fetch]
	prune = true
[format]
	pretty = oneline
[grep]
	extendedregexp = true
	linenumber = true
[merge]
	tool = meld
	log = true
	ff = false
[push]
	default = simple
[url "https://"]
	insteadOf = git://
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = sridharmallela
