# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library.  Existing
# programs include FTP, Bash, and GDB.
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc
$include /etc/Inputrc

# Ignore case while completing
# (https://scriptingosx.com/2016/04/make-tab-completion-in-bash-case-insensitive/)
set completion-ignore-case on
